<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# DATA SCIENCE TOOLS AND ECOSYSTEM

In this notebook,Data science tools are summarised

Objectives
* List of popular languages
* Commonly used Libraries
* Arithmetic Operations

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia
4. Java

Some of the commonly used libraries used by data scientists include:
1. NumPY
2. Pandas
3. TensorFlow

|DATA SCIENCE TOOLS|
|---- ------  -----|
|Python|
|R|
|EXCEL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
a = 3
b = 4
c = a*b
print(c)

12

In [2]:
d = 5
e = c+d
print(e)

17

This will convert 200 minutes to hours by diving by 60

In [3]:
a = 200
b = 60
c = a/b
print(c)

3.3333333333333335

## Author
Manasa Sudev